{{outlet}}
Hi. I am {{model.author}} This was my Question {{model.querry}}
Here is the screenshot:
<p><img src={{model.image}} alt="No image" class="image"></p>
<!-- {{new-answer saveAnswer='saveAnswer' question=model}} -->

{{new-answer saveAnswer="saveAnswer" question=model}}
<h2>Answers</h2>
{{model.answer}}
<ul class="list">
  {{#each model.answers as |answer|}}
    <li><em>{{answer.author}}</em> - {{answer.answer}} <img src={{answer.image}} alt="NO-IMAGE" class="image"></li>
  {{/each}}
</ul>
{{#each view.stars}}
   <span {{bind-attr data-rating=rating}}
     {{bind-attr class=":star-rating :glyphicon full:glyphicon-star:glyphicon-star-empty"}}
     {{action "setRating" target=view}}>
   </span>
 {{/each}}
